# Camera sensor
CONFIG_CAMERA_OV5647=y

# Video devices
CONFIG_ESP_VIDEO_ENABLE_MIPI_CSI_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_H264_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_ISP_VIDEO_DEVICE=y

# PSRAM (32MB hex mode on Olimex board)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

# Performance
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# USB Device (TinyUSB)
CONFIG_TINYUSB_VIDEO_STREAMING_IFS=1

# UVC configuration
CONFIG_UVC_CAM1_FRAMESIZE_WIDTH=800
CONFIG_UVC_CAM1_FRAMESIZE_HEIGT=640
CONFIG_UVC_CAM1_FRAMERATE=50
CONFIG_FORMAT_H264_CAM1=y
CONFIG_UVC_MODE_BULK_CAM1=y
